## Bag-of-Words Models

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

cv = CountVectorizer()

In [17]:
sentences = ["It was the best of times",
"it was the worst of times",
"it was the age of wisdom",
"it was the age of foolishness"]

In [18]:
more_sentences = sentences + \
["John likes to watch movies. Mary likes movies too.",
"Mary also likes to watch football games."]

In [19]:
cv.fit(more_sentences)

CountVectorizer()

In [20]:
print(cv.get_feature_names())

['age', 'also', 'best', 'foolishness', 'football', 'games', 'it', 'john', 'likes', 'mary', 'movies', 'of', 'the', 'times', 'to', 'too', 'was', 'watch', 'wisdom', 'worst']

In [21]:
dt = cv.transform(more_sentences)

In [22]:
dt

<6x20 sparse matrix of type '<class 'numpy.int64'>'
	with 38 stored elements in Compressed Sparse Row format>

In [23]:
pd.DataFrame(dt.toarray(), columns=cv.get_feature_names())

,age,also,best,foolishness,football,games,it,john,likes,mary,movies,of,the,times,to,too,was,watch,wisdom,worst
0,0,0,1,0,0,0,1,0,0,0,0,1,1,1,0,0,1,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,1,1,1,0,0,1,0,0,1
2,1,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,1,0
3,1,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,1,2,1,2,0,0,0,1,1,0,1,0,0
5,0,1,0,0,1,1,0,0,1,1,0,0,0,0,1,0,0,1,0,0

### Calculating Similarity

In [4]:
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
word1 = [1,3,3,45,5,6,6,6]
word2 = [2,3,54,5,6,2,4,5]

cosine_similarity([word1], [word2])

array([[0.19218451]])

In [33]:
pd.DataFrame(cosine_similarity(dt, dt))

          0         1         2         3         4         5
0  1.000000  0.833333  0.666667  0.666667  0.000000  0.000000
1  0.833333  1.000000  0.666667  0.666667  0.000000  0.000000
2  0.666667  0.666667  1.000000  0.833333  0.000000  0.000000
3  0.666667  0.666667  0.833333  1.000000  0.000000  0.000000
4  0.000000  0.000000  0.000000  0.000000  1.000000  0.524142
5  0.000000  0.000000  0.000000  0.000000  0.524142  1.000000

## TF-IDF Models

In [5]:
from sklearn.feature_extraction.text import TfidfTransformer

In [35]:
tfidf = TfidfTransformer()

tfidf_dt = tfidf.fit_transform(dt)

In [39]:
pd.DataFrame(tfidf_dt.toarray(), columns=cv.get_feature_names_out())

,age,also,best,foolishness,football,games,it,john,likes,mary,movies,of,the,times,to,too,was,watch,wisdom,worst
0,0.000000,0.000000,0.56978,0.00000,0.000000,0.000000,0.338027,0.000000,0.000000,0.000000,0.000000,0.338027,0.338027,0.467228,0.000000,0.000000,0.338027,0.000000,0.00000,0.00000
1,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.338027,0.000000,0.000000,0.000000,0.000000,0.338027,0.338027,0.467228,0.000000,0.000000,0.338027,0.000000,0.00000,0.56978
2,0.467228,0.000000,0.00000,0.00000,0.000000,0.000000,0.338027,0.000000,0.000000,0.000000,0.000000,0.338027,0.338027,0.000000,0.000000,0.000000,0.338027,0.000000,0.56978,0.00000
3,0.467228,0.000000,0.00000,0.56978,0.000000,0.000000,0.338027,0.000000,0.000000,0.000000,0.000000,0.338027,0.338027,0.000000,0.000000,0.000000,0.338027,0.000000,0.00000,0.00000
4,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.305609,0.501208,0.250604,0.611219,0.000000,0.000000,0.000000,0.250604,0.305609,0.000000,0.250604,0.00000,0.00000
5,0.000000,0.419233,0.00000,0.00000,0.419233,0.419233,0.000000,0.000000,0.343777,0.343777,0.000000,0.000000,0.000000,0.000000,0.343777,0.000000,0.000000,0.343777,0.00000,0.00000

In [40]:
pd.DataFrame(cosine_similarity(tfidf_dt, tfidf_dt))

          0         1         2         3        4        5
0  1.000000  0.675351  0.457049  0.457049  0.00000  0.00000
1  0.675351  1.000000  0.457049  0.457049  0.00000  0.00000
2  0.457049  0.457049  1.000000  0.675351  0.00000  0.00000
3  0.457049  0.457049  0.675351  1.000000  0.00000  0.00000
4  0.000000  0.000000  0.000000  0.000000  1.00000  0.43076
5  0.000000  0.000000  0.000000  0.000000  0.43076  1.00000

### ABC Dataset

In [6]:
from pathlib import Path

BASE_PATH = Path("../DATASETS/5")

In [7]:
headlines = pd.read_csv(BASE_PATH/"abcnews-date-text.csv.gz", 
                        parse_dates=["publish_date"])

In [107]:
len(headlines)

1103663

In [108]:
headlines.head(4)

  publish_date                                      headline_text
0   2003-02-19  aba decides against community broadcasting lic...
1   2003-02-19     act fire witnesses must be aware of defamation
2   2003-02-19     a g calls for infrastructure protection summit
3   2003-02-19           air nz staff in aust strike for pay rise

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [52]:
tfidf = TfidfVectorizer()

dt = tfidf.fit_transform(headlines['headline_text'])

### Reducing Feature Dimensions

In [55]:
# Removing Stop words

In [8]:
from spacy.lang.en.stop_words import STOP_WORDS

In [57]:
print(len(STOP_WORDS))

326

In [58]:
tfidf = TfidfVectorizer(stop_words=STOP_WORDS)

In [60]:
dt = tfidf.fit_transform(headlines["headline_text"])
dt

<1103663x95600 sparse matrix of type '<class 'numpy.float64'>'
	with 5644186 stored elements in Compressed Sparse Row format>

In [61]:
# minimum frequency

In [62]:
tfidf = TfidfVectorizer(stop_words=STOP_WORDS, min_df=2)
dt = tfidf.fit_transform(headlines["headline_text"])
dt

C:\Users\HP\.virtualenvs\Text-Analysis-workouts-4nsmzFq6\lib\site-packages\sklearn\feature_extraction\text.py:396: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ll', 've'] not in stop_words.
  warnings.warn(

<1103663x58527 sparse matrix of type '<class 'numpy.float64'>'
	with 5607113 stored elements in Compressed Sparse Row format>

In [63]:
tfidf = TfidfVectorizer(stop_words=STOP_WORDS, min_df=1e-5)
dt = tfidf.fit_transform(headlines["headline_text"])
dt

<1103663x24047 sparse matrix of type '<class 'numpy.float64'>'
	with 5457800 stored elements in Compressed Sparse Row format>

In [65]:
# Maximum frequency

In [67]:
tfidf = TfidfVectorizer(stop_words=STOP_WORDS, max_df=1e-5)
dt = tfidf.fit_transform(headlines["headline_text"])
dt

C:\Users\HP\.virtualenvs\Text-Analysis-workouts-4nsmzFq6\lib\site-packages\sklearn\feature_extraction\text.py:396: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ll', 've'] not in stop_words.
  warnings.warn(

<1103663x71553 sparse matrix of type '<class 'numpy.float64'>'
	with 186386 stored elements in Compressed Sparse Row format>

## Improving Features by Making Then More Specific

In [68]:
# Performing Linguistic analysis

In [14]:
import spacy

from tqdm.notebook import tqdm
tqdm.pandas()

import tqdm

In [10]:
nlp = spacy.load("en_core_web_sm", disable=['ner', 'parser'])
nouns_adjectives_verbs = ['NOUN', 'PROPN', 'ADJ', 'ADV', 'VERB']

In [15]:
for i, row in tqdm.tqdm(headlines.iterrows()):
    doc = nlp(str(row["headline_text"]))
    headlines.at[i, "lemmas"] = " ".join([token.lemma_ for token in doc])
    headlines.at[i, "nav"] = " ".join([token.lemma_ for token in doc
         if token.pos_ in nouns_adjectives_verbs])

999899it [1:13:24, 220.94it/s]C:\Users\HP\.virtualenvs\Text-Analysis-workouts-4nsmzFq6\lib\site-packages\tqdm\std.py:1180: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  for obj in iterable:
1103663it [1:21:24, 225.97it/s]

In [16]:
headlines.head(4)

,publish_date,headline_text,lemmas,nav
0,2003-02-19,aba decides against community broadcasting lic...,aba decide against community broadcast licence,aba decide community broadcast licence
1,2003-02-19,act fire witnesses must be aware of defamation,act fire witness must be aware of defamation,act fire witness aware defamation
2,2003-02-19,a g calls for infrastructure protection summit,a g call for infrastructure protection summit,g call infrastructure protection summit
3,2003-02-19,air nz staff in aust strike for pay rise,air nz staff in aust strike for pay rise,air nz staff aust strike pay rise

In [17]:
headlines.to_csv("headlines.csv", index=False)