# Chapter 1. Gaining Early Insights from Textual Data

In [1]:
from pathlib import Path
import pandas as pd

In [4]:
DATASET = Path("../DATASETS/1/un-general-debates-blueprint.csv")

In [6]:
df = pd.read_csv(DATASET)
df.sample(4)

,session,year,country,country_name,speaker,position,text
3962,52,1997,CZE,Czechia,Josef Zieleniec,Deputy Prime Minister,"﻿At the outset, may I\ncongratulate Mr. Hennad..."
3180,47,1992,ROU,Romania,Mr Nastase,NaN,I would like first to join previous speakers \...
5751,61,2006,TON,Tonga,Mr.Mr. Mahe 'Uli'Uli TUPOUNIUA,Deputy Prime Minister,The Tongan delegation \njoins others in congra...
2759,45,1990,COD,"Congo, The Democratic Republic of the",NDINGA OBA,NaN,"﻿Mr. President, the forty-fifth session of the..."

## Getting an overview of the Data with pandas

* Calculate summary statistics.
* Check for missing values.
* Plot distributions of interesting attributes.
* Compare distributions across categories.
* Visualize developments over time.

### Calculating Summary Statistics for Columns

In [7]:
df["length"] = df["text"].str.len()
df.describe().T # dataset contain speaches from the 25th to the 70th un debates (1970 - 2015)

,count,mean,std,min,25%,50%,75%,max
session,7507.0,49.610763,12.892155,25.0,39.0,51.0,61.0,70.0
year,7507.0,1994.610763,12.892155,1970.0,1984.0,1996.0,2006.0,2015.0
length,7507.0,17967.281604,7860.038463,2362.0,12077.0,16424.0,22479.5,72041.0

In [12]:
df[["country", "speaker"]].describe(include='O').T # The dataset contain 199 unique countries &

        count unique            top freq
country  7507    199            ALB   46
speaker  7480   5428  Seyoum Mesfin   12

In [26]:
# Checking missing values
df.isna().sum()

session            0
year               0
country            0
country_name       0
speaker           27
position        3005
text               0
length             0
dtype: int64